
/* Typography */
.dark {
 
  color: #fff;

  /* color base */
  background-color: #2f0000;

  /* capas */
  background-image:
      /* líneas horizontales de la cuadricula */
      linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),

      /* líneas verticales */
      linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px),

      /* degradado vertical (al fondo de todo) */
      linear-gradient(
        to right,              /* vertical */
        #000000 0%,             /* color base */
        #490b0b 100%            /* color más claro o más luminoso */
      );

  background-size:
      40px 40px,   /* cuadricula horizontal */
      40px 40px,   /* cuadricula vertical */
      100% 100%;   /* degradado */
}

.light {
 
  color: #fff;

  /* color base */
  background-color: #2b2947;

  /* capas */
  background-image:
      /* líneas horizontales de la cuadricula */
      linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),

      /* líneas verticales */
      linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px),

      /* degradado vertical (al fondo de todo) */
      linear-gradient(
        to right,              /* vertical */
          #000000 0%,             /* color base */
          rgba(190, 130, 0, 0.458) 40%                 /* color más claro o más luminoso */
      );

  background-size:
      40px 40px,   /* cuadricula horizontal */
      40px 40px,   /* cuadricula vertical */
      100% 100%;   /* degradado */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  
}

/* Header Styles */
.header {
  margin-top: 50px;
}

.search-input {
  display: block;
  overflow: hidden;
  padding: 15px;
  margin: 25px auto;
  width: 90%;
  font-size: 16px;
  border-radius: 100px;
  border: 1px solid #ccc;
}

/* Genre and Filter Bar Styles */
.filter-bar {
  display: flex;
  justify-content: right;
}

.filter-slot {
  background-color: #371f33;
  padding: 0 25px;
  margin: 10px;
  border-radius: 50px;
}

.filter-dropdown {
  
  font-family: inter;
  padding: 6px;
  margin: 10px;
  border-radius: 50px;
  background-color: #6b4d6d;
  color: #ffffff;
}

/* Movies Grid Styles */
.movies-grid, .watchlist {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 2rem 2rem;  
  padding: 1rem;
  justify-content: center;
}

/* Movie Card Styles */
.movie-card {
  background-color:  #eeeeee;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 29px,
    rgba(0, 0, 0, 0.211) 38px
  );
  border-radius: 1px 1px 1px 1px;
  border-color: #000000;
  border-width: 2px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .2);
}

.movie-card:hover {
  transform: scale(1.01);
}

.movie-card img {
  width: 250px;
  height: 350px;
  display: block;
  object-fit: cover;
  object-position: center;
}

.movie-card-info {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

.movie-card-title {
    color: #000000;

  letter-spacing:.9px;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight:900;
  padding-bottom: 10px;
  padding-top: 10px;
}

.movie-card-rating {
  font-size: 1rem;
  font-weight: bold;
  padding: 3px 10px;
  width: 50px;
  border-radius: 50px;
}

.movie-card-genre {
    text-transform: uppercase;

  color: rgb(209, 1, 1);
  font-weight:700;
  font-size: 1rem;
  margin: 10 auto;
  width: 50px;
  border-radius: 50px;

}

/* Watchlist Button Styles */
.watchlist-btn {
  border: none;
  background: #2196F3;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}


/* Footer Styles */
.footer {
  margin-top: 100px;
  background-color: #0d0637;
  padding: 1rem;
  text-align: center;
}

.footer-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.9rem;
}

.rating-good {
  color: rgb(50, 154, 9);
}

.rating-ok {
  color: rgb(222, 147, 8);
}

.rating-bad {
  color: rgb(177, 3, 3);
}

.title {
  font-size: 2rem;
  text-align: center;
  margin: 25px 0;
}

.logo {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  display: block;
}

.app-subtitle {
  text-align: center;
  margin: 25px auto;
  font-weight: 300;
}

nav {
  margin-top: 50px;
  margin-bottom: 25px;
}

ul {
  list-style-type: none;
  margin: 0;  
  display: flex;
  justify-content: center;
}

ul li {
  padding: 10px;
}

nav a {
  color:black;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #ffffff;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .5);
}

nav a:hover {
  background-color: #E7F2F1;
  color: black;
}

.switch {
  margin: 20px auto;
  position: relative;
  display: inline-block;
  width: 150px; /* Width large enough to fit the label text */
  height: 24px; /* Adjust height as needed */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2b1d33;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.slider-label {
  color: #fff; 
  font-size: 12px; 
  width: 100%; 
  line-height: 24px; 
  transition: opacity 0.4s ease; 
}

input:checked + .slider:before {
  transform: translateX(125px); /* Move the circle to the other side */
}

input:checked + .slider {
  background-color: #844a7a;
}

.palomitas{
  position: fixed;
  bottom: 60px;
  left: 50px;
  height: 10rem;
}
