.add-input{
    background-color: rgb(216, 216, 216);
    padding: 5px;
    width: fit-content;
}

.button2{
    background-color: rgb(179, 157, 128);
    padding: 10px;
    border-radius: 10px;
}

.button2:hover{
    background-color: rgb(169, 140, 101);
   
}