.c-back{
background-color: #efefd8;

background-image:  linear-gradient(135deg, #7b3d3d 25%, transparent 25%), linear-gradient(225deg, #7b3d3d 25%, transparent 25%), linear-gradient(45deg, #7b3d3d 25%, transparent 25%), linear-gradient(315deg, #7b3d3d 25%, #efefd8 25%);
background-position:  29px 0, 29px 0, 0 0, 0 0;
background-size: 29px 29px;
background-repeat: repeat;
}

.titulo{
    -webkit-text-stroke: 3px rgb(90, 8, 8) ;
}
.img-des{
    color: rgb(90, 8, 8);
   font-size: .9rem;
   line-height: 15px;
   margin-top: 10px;
   font-family: serif;

}

